OSPOS_VERSION=master
MARIADB_VERSION=11.8
TRAEFIK_VERSION=3

MYSQL_ROOT_PASSWORD=12345Abcde
MYSQL_DATABASE=ospos
MYSQL_USER=ospos
MYSQL_PASSWORD=12345Abcde

COMPOSE_PROJECT_NAME=ospos

FQDN_OSPOS=ospos.test
FQDN_TRAEFIK=traefik.ospos.test
